{% extends "all/base.html" %}

{% block title %}Title{% endblock title %}

{% block content %}
<div class="headline"><h4>CCTV 목록</h4></div>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>모델명</th>
                <th>설치날짜</th>
                <th>공간</th>
                {% if auth == "charged" %}
                <th>책임자</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for c in cctv %}
            <tr>
                <td><a href="cctv_specific/{{c.pk}}">{{ c.name }}</a></td>
                <td>{{ c.start_date|date:"Y-m-d H:i:s" }}</td>
                <td>{% for s in c.spots.all %}<a href="/spot_specific/{{ s.pk }}">{{ s.indoor_loc }}({{ s.pk }})</a> {% endfor %}</td>
                {% if auth == "charged" %}
                <td><a href="manage/edit/{{c.manager.pk}}">{{ c.manager.name }}</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if auth == "charged"  %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="radio" name="option" value="name" checked> 모델명
    <input type="radio" name="option" value="start_date"> 설치날짜
    <input type="radio" name="option" value="manager"> 책임자
    <input type="text" name="cctv_query">
    <input type="submit" value="검색">
</form>
<div class="headline"><h4>CCTV 추가</h4></div>
<form role="form" method="post" class="form-horizontal" id="formm-manager">{% csrf_token %}
    <input type="hidden" name="form-type" value="edit-info">
    <input type="hidden" name="manager-id" id="manager-id" value="-1">
    <div class="form-group">
        <label class="control-label col-sm-2">이름</label>
        <div class="col-sm-8">
            <input type="text" class="form-control no-radius" name="cctv-name" id="cctv-name" value="" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">설치날짜</label>
        <div class="col-sm-8">
            <input type="datetime-local" class="form-control no-radius" name="cctv-date" id="cctv-date" value="" required>
        </div>
    </div>
    {% if auth == "charged" %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="manager_table">
            <thead>
                <tr>
                    <th style="width:25%;">아이디</th>
                    <th style="width:25%;">이름</th>
                    <th style="width:25%;">연락처</th>
                    <th style="width:25%;">선택</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="form-group">
        <label class="control-label col-sm-2">책임자</label>
        <div class="col-sm-8">
            <input type="text" class="form-control no-radius" name="manager-name" id="manager-name" value="" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-primary btn-block no-radius"><i class="fa fa-check fa-fw"></i> 추가하기</button>
        </div>
    </div>
</form>
<div class="headline"><h4>CCTV 추가 (CSV)</h4></div>
<form role="form" method="post" category="file_upload" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
    <input type="hidden" name="form-type" value="file-upload">
    <div class="form-group">
        <label class="control-label col-sm-2">파일 선택 (.csv)</label>
        <div class="col-sm-8">
            <div class="input-group" style="width:100%;">
                <span class="input-group-btn" style="width:1%">
                    <span class="btn btn-primary btn-file">
                        파일 선택 <input type="file" name="new-cctvs" id="new-cctvs" required>
                    </span>
                </span>
                <input type="text" class="form-control" readonly>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-primary btn-block no-radius"><i class="fa fa-cloud-upload fa-fw"></i> 업로드</button>
        </div>
    </div>
</form>

{% endif %}
{% endblock content %}
{% block javascript %}
<script type="text/javascript">
var $table_2 = $('#manager_table tbody');
var manager = [];
$.ajax('/api/manager_list?user_id=-1').done(function(res) {
    res.forEach(function(e) {
        e.term = e.name.replace(' ','');
    });
    manager = res;
});
var update_result_2 = function(term) {
    $table_2.children('tr').remove();
    var cnt = 0;
    manager.forEach(function(e) {
        if (e.term.indexOf(term) >= 0) {
            $table_2.append('<tr data-manager-id="'+e.id+'"><th style="font-weight:normal;">'+e.user+'</th><td>'+e.name+'</td><td>'+e.cell+'</td><td><a href="#" class="manager-select" style="color: green;"><strong>선택</strong></a></td></tr>');
        }
    });
};
$table_2.on('click', 'a.manager-select', function(e) {
    e.preventDefault();
    $('#manager-id').val($(this).parent().parent().attr('data-manager-id'));
    $('#manager-name').val($(this).parent().parent().children('th').next().text());
});
$('#manager-name').keyup(function() {
    if (manager.length > 0 && $('#manager-name').val().length) {
        update_result_2($(this).val());
    }
});
$('#manager-name').keypress(function(e) {
    if (e.keyCode == 13) {
        e.preventDefault();
    }
});
$('#form-manager').submit(function(e) {
    var manager_id = parseInt($('#manager-id').val());
    if (manager_id == -1) e.preventDefault();
});
</script>
{% endblock javascript %}