{% extends "all/base.html" %}

{% block title %}CCTV 정보 :: 고래카레{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="headline"><h4>CCTV 정보</h4></div>
        <form role="form" method="post" class="form-horizontal" id="formm-manager">{% csrf_token %}
            <input type="hidden" name="form-type" value="edit-info">
            <input type="hidden" name="manager-id" id="manager-id" value="-1">
            <div class="form-group">
                <label class="control-label col-sm-2">이름</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control no-radius" name="cctv-name" id="cctv-name" value="{{ cctv.name }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">설치날짜</label>
                <div class="col-sm-8">
                    <input type="datetime-local" class="form-control no-radius" name="cctv-date" id="cctv-date" value="{{ cctv.start_date|date:'Y-m-d'}}T{{ cctv.start_date|date:'H:i'}}" required>
                </div>
            </div>
            {% if auth == "charged" %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="manager_table">
                    <thead>
                        <tr>
                            <th style="width:25%;">아이디</th>
                            <th style="width:25%;">이름</th>
                            <th style="width:25%;">연락처</th>
                            <th style="width:25%;">선택</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div class="form-group">
                <label class="control-label col-sm-2">책임자</label>
                <div class="col-sm-8">
                    {% if auth == "charged" %}
                    <input type="text" class="form-control no-radius" name="manager-name" id="manager-name" value="{{ cctv.manager.name }}" required>
                    {% else %}
                    <input type="text" class="form-control no-radius" name="manager-name" id="manager-name" value="{{ cctv.manager.name }}" disabled>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-primary btn-block no-radius"><i class="fa fa-check fa-fw"></i> 저장하기</button>
                </div>
            </div>
        </form>

        <div class="headline"><h4>공간</h4></div>
        <form role="form" method="post" class="form-horizontal" id="form-spot">{% csrf_token %}
            <input type="hidden" name="form-type" value="add-spot">
            <input type="hidden" name="spot-id" id="spot-id" value="-1">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:20%;">내부주소</th>
                            <th style="width:10%;">층</th>
                            <th style="width:20%;">건물이름</th>
                            <th>주소</th>
                            <th style="width:20%;">관리</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for s in cctv.spots.all %}
                        <tr>
                            <td>{{ s.indoor_loc }}</td>
                            <td>{{ s.floor_no }}</td>
                            <td>{{ s.dep_name }}</td>
                            <td><a href="/spot_specific/{{s.pk}}">{{ s.address }}</a></td>
                            <td><strong><a href="/cctv_specific/{{ cctv.pk }}/remove_spot/{{ s.pk }}" style="color: red;">제거</a></strong></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="spot_table">
                    <thead>
                        <tr>
                            <th style="width:20%;">내부주소</th>
                            <th style="width:10%;">층</th>
                            <th style="width:20%;">건물이름</th>
                            <th>주소</th>
                            <th style="width:20%;">선택</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1">주소</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control no-radius" name="spot-address" id="spot-address" value="" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block no-radius"><i class="fa fa-check fa-fw"></i> 추가하기</button>
        </form>

        <div class="headline"><h4>동영상 및 메타로그</h4></div>
        <form role="form" method="post" class="form-horizontal" id="form-video-meta">{% csrf_token %}
            <input type="hidden" name="form-type" value="add-video-meta">
            <input type="hidden" name="video-meta-id" id="video-meta-id" value="-1">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:17%;">메타로그 파일 이름</th>
                            <th style="width:7%;">객체 이름</th>
                            <th style="width:8%;">타임스탬프</th>
                            <th style="width:5%;">크기</th>
                            <th style="width:5%;">X좌표</th>
                            <th style="width:5%;">Y좌표</th>
                            <th style="width:5%;">속도</th>
                            <th style="width:5%;">색깔</th>
                            <th style="width:18%;">다운로드</th>
                            <th style="width:10%;">관리</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for m in meta %}
                        <tr>
                            <td>{{ m.name }}</td>
                            <td>{{ r.obj_id }}</td>
                            <td>{{ r.time_stamp }}</td>
                            <td>{{ r.size }}</td>
                            <td>{{ r.xpos }}</td>
                            <td>{{ r.ypos }}</td>
                            <td>{{ r.speed }}</td>
                            <td>{{ r.color }}</td>
                            <td><a href="#">{{ m.video.name }}</a></td>
                            <td><strong><a href="/cctv_specific/{{ cctv.pk }}/remove_meta/{{ m.pk }}" style="color: red;">제거</a></strong></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>

        <!--
        <form role="form" method="post" class="form-horizontal">{% csrf_token %}
            <input type="hidden" name="form-type" value="create-cctv">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:30%;">모델명</th>
                            <th style="width:35%;">설치 날짜</th>
                            <th style="width:35%;">공간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="cctv-name" style="width:100%;height:40px;"></td>
                            <td><input type="datetime-local" name="cctv-start-date" style="width:100%;height:40px;"></td>
                            <td><input type="text" name="cctv-space" style="width:100%;height:40px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block no-radius"><i class="fa fa-check fa-fw"></i> 추가하기</button>
                </div>
            </div>
        </form>
        -->
<!--
    </div>
</div>
-->
{% endblock content %}
{% block javascript %}
<script type="text/javascript">
var $table = $('#spot_table tbody');
var spot = [];
$.ajax('/api/spot_list?user_id=-1').done(function(res) {
    res.forEach(function(e) {
        e.term = e.address.replace(' ','');
    });
    spot = res;
});
var update_result = function(term) {
    $table.children('tr').remove();
    var cnt = 0;
    spot.forEach(function(e) {
        if (e.term.indexOf(term) >= 0) {
            $table.append('<tr data-spot-id="'+e.id+'"><th style="font-weight:normal;">'+e.indoor_loc+'</th><td>'+e.floor_no+'</td><td>'+e.dep_name+'</td><td>'+e.address+'</td><td><a href="#" class="spot-select" style="color: green;"><strong>선택</strong></a></td></tr>');
        }
    });
};
$table.on('click', 'a.spot-select', function(e) {
    e.preventDefault();
    $('#spot-id').val($(this).parent().parent().attr('data-spot-id'));
    $('#spot-address').val($(this).parent().parent().children('th').next().next().next().text());
});
$('#spot-address').keyup(function() {
    if (spot.length > 0 && $('#spot-address').val().length) {
        update_result($(this).val());
    }
});
$('#spot-address').keypress(function(e) {
    if (e.keyCode == 13) {
        e.preventDefault();
    }
});
$('#form-spot').submit(function(e) {
    var spot_id = parseInt($('#spot-id').val());
    if (spot_id == -1) e.preventDefault();
});
</script>
<script type="text/javascript">
var $table_2 = $('#manager_table tbody');
var manager = [];
$.ajax('/api/manager_list?user_id=-1').done(function(res) {
    res.forEach(function(e) {
        e.term = e.name.replace(' ','');
    });
    manager = res;
});
var update_result_2 = function(term) {
    $table_2.children('tr').remove();
    var cnt = 0;
    manager.forEach(function(e) {
        if (e.term.indexOf(term) >= 0) {
            $table_2.append('<tr data-manager-id="'+e.id+'"><th style="font-weight:normal;">'+e.user+'</th><td>'+e.name+'</td><td>'+e.cell+'</td><td><a href="#" class="manager-select" style="color: green;"><strong>선택</strong></a></td></tr>');
        }
    });
};
$table_2.on('click', 'a.manager-select', function(e) {
    e.preventDefault();
    $('#manager-id').val($(this).parent().parent().attr('data-manager-id'));
    $('#manager-name').val($(this).parent().parent().children('th').next().text());
});
$('#manager-name').keyup(function() {
    if (manager.length > 0 && $('#manager-name').val().length) {
        update_result_2($(this).val());
    }
});
$('#manager-name').keypress(function(e) {
    if (e.keyCode == 13) {
        e.preventDefault();
    }
});
$('#form-manager').submit(function(e) {
    var manager_id = parseInt($('#manager-id').val());
    if (manager_id == -1) e.preventDefault();
});
</script>
{% endblock javascript %}