{% extends "all/base.html" %}

{% block title %}관리 :: 고래카레{% endblock title %}

{% block content %}
<div class="table-responsive">
    <table class="table table-borderd table-striped">
        <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>연락처</th>
                <th>수정</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ u.user.username }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.cell }}</td>
                <td><a href="">수정</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}