{% extends "all/base.html" %}

{% block title %}Meta 및 영상 정보 :: 고래카레{% endblock title %}

{% block content %}
        <div class="headline"><h4>동영상 및 메타로그</h4></div>
        <form role="form" method="post" class="form-horizontal" id="form-video-meta">{% csrf_token %}
            <input type="hidden" name="form-type" value="add-video-meta">
            <input type="hidden" name="video-meta-id" id="video-meta-id" value="-1">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:10%;">메타로그</th>
                            <th style="width:10%;">촬영 길이</th>
                            <th style="width:10%;">레코드 수</th>
                            <th style="width:10%;">객체 수</th>
                            <th style="width:10%;">평균 크기</th>
                            <th style="width:10%;">평균 X좌표</th>
                            <th style="width:10%;">평균 Y좌표</th>
                            <th style="width:10%;">평균 속도</th>
                            <th style="width:10%;">다운로드</th>
                            <th style="width:10%;">관리</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for m in meta %}
                        <tr>
                            <td><a href="/meta_specific/{{ m.pk }}">{{ m.name }}</a></td>
                            <td>{{ m.time_len }}</td>
                            <td>{{ m.rec_no }}</td>
                            <td>{{ m.obj_no }}</td>
                            <td>{{ m.avg_size|floatformat:2 }}</td>
                            <td>{{ m.avg_xpos|floatformat:2 }}</td>
                            <td>{{ m.avg_ypos|floatformat:2 }}</td>
                            <td>{{ m.avg_speed|floatformat:2 }}</td>
                            <td><a href="/download/meta/{{ m.pk }}">메타로그</a> <a href="/download/video/{{ m.pk }}">동영상</a></td>
                            <td><strong><a href="/meta/remove_meta/{{ m.pk }}" style="color: red;">제거</a></strong></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
{% endblock content %}
{% block javascript %}
<script type="text/javascript">
var $table = $('#spot_table tbody');
var spot = [];
$.ajax('/api/spot_list?user_id=-1').done(function(res) {
    res.forEach(function(e) {
        e.term = e.address.replace(' ','');
    });
    spot = res;
});
var update_result = function(term) {
    $table.children('tr').remove();
    var cnt = 0;
    spot.forEach(function(e) {
        if (e.term.indexOf(term) >= 0) {
            $table.append('<tr data-spot-id="'+e.id+'"><th style="font-weight:normal;">'+e.indoor_loc+'</th><td>'+e.floor_no+'</td><td>'+e.dep_name+'</td><td>'+e.address+'</td><td><a href="#" class="spot-select" style="color: green;"><strong>선택</strong></a></td></tr>');
        }
    });
};
$table.on('click', 'a.spot-select', function(e) {
    e.preventDefault();
    $('#spot-id').val($(this).parent().parent().attr('data-spot-id'));
    $('#spot-address').val($(this).parent().parent().children('th').next().next().next().text());
});
$('#spot-address').keyup(function() {
    if (spot.length > 0 && $('#spot-address').val().length) {
        update_result($(this).val());
    }
});
$('#spot-address').keypress(function(e) {
    if (e.keyCode == 13) {
        e.preventDefault();
    }
});
$('#form-spot').submit(function(e) {
    var spot_id = parseInt($('#spot-id').val());
    if (spot_id == -1) e.preventDefault();
});
</script>
{% endblock javascript %}