{% extends "all/base.html" %}

{% block title %}NEIGHBOR 정보 :: 고래카레{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="headline"><h4>NEIGHBOR 정보</h4></div>
        <form role="form" method="post" class="form-horizontal">{% csrf_token %}
            <input type="hidden" name="form-type" value="edit-info">
            <div class="form-group">
                <label class="control-label col-sm-2">이름</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control no-radius" name="neighbor-name" id="neighbor-name" value="{{ neighbor.name}} " required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">공간1</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control no-radius" name="user-pw" id="user-pw" value="{{ neighbor.spot1 }}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">공간2</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control no-radius" name="user-pw" id="user-pw" value="{{ neighbor.spot2 }}" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-primary btn-block no-radius"><i class="fa fa-check fa-fw"></i> 저장하기</button>
                </div>
            </div>
        </form>
{% endblock content %}
{% block javascript %}
<script type="text/javascript">
var $table = $('#spot_table tbody');
var spot = [];
$.ajax('/api/spot_list?user_id=-1').done(function(res) {
    res.forEach(function(e) {
        e.term = e.address.replace(' ','');
    });
    spot = res;
});
var update_result = function(term) {
    $table.children('tr').remove();
    var cnt = 0;
    spot.forEach(function(e) {
        if (e.term.indexOf(term) >= 0) {
            $table.append('<tr data-spot-id="'+e.id+'"><th style="font-weight:normal;">'+e.indoor_loc+'</th><td>'+e.floor_no+'</td><td>'+e.dep_name+'</td><td>'+e.address+'</td><td><a href="#" class="spot-select" style="color: green;"><strong>선택</strong></a></td></tr>');
        }
    });
};
$table.on('click', 'a.spot-select', function(e) {
    e.preventDefault();
    $('#spot-id').val($(this).parent().parent().attr('data-spot-id'));
    $('#spot-address').val($(this).parent().parent().children('th').next().next().next().text());
});
$('#spot-address').keyup(function() {
    if (spot.length > 0 && $('#spot-address').val().length) {
        update_result($(this).val());
    }
});
$('#spot-address').keypress(function(e) {
    if (e.keyCode == 13) {
        e.preventDefault();
    }
});
$('#form-spot').submit(function(e) {
    var cctv_id = parseInt($('#cctv-id').val());
    if (cctv_id == -1) e.preventDefault();
});
</script>
{% endblock javascript %}