{% extends "all/base.html" %}

{% block title %}Title{% endblock title %}

{% block content %}
<div>
    <table border = "2" style = "width:100%">
        <tr>
            <th>indoor_loc</th>
            <th>floor_no</th>
            <th>dep_name</th>
            <th>address</th>
            <th>cctv</th>
        </tr>
        {% for s in spot %}
        <tr>
            <td><a href="spot_specific/{{s.pk}}">{{s.indoor_loc}}({{s.pk}})</td>
            <td>{{s.floor_no}}</td>
            <td>{{s.dep_name}}</td>
            <td>{{s.address}}</td>
            <td>
                {% for c in s.spot_cctvs.all %}
                    {% for cc in cctv %}
                        {% if c == cc %}
                            {{c.name}}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </td>
                
        </tr>
        {% endfor %}
    </table>
</div>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="radio" name="option" value="cctv"> 해당cctv
    <input type="text" name="spot_query">
    <input type="submit" >
</form>
{% endblock content %}